<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" type="image/png" href="https://findicons.com/files/icons/2796/metro_uinvert_dock/256/sticky_notes.png"/>
        <!-- Font awesome 4 -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/indexstyle.css">
    <!-- <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> -->

    <script src="https://unpkg.com/scrollreveal"></script>
    <title>{NodeNotes}</title>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >
     <div class="container">
        <a class="navbar-brand" href="/" >Node Notes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
   
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                <ul class="navbar-nav mr-auto">
                    <% if(user){%>
                        <%if(user.privileges=='user'){%>
                            <li class="nav-item ">
                                <a class="nav-link" href="/mynotes">My notes</a>
                           </li>
                        <%}%>
                        <%if(user.privileges=='Admin'){%>
                            <li class="nav-item ">
                                <a class="nav-link" href="/mynotes">My notes</a>
                           </li>
                           <li class="nav-item ">
                            <a class="nav-link" href="/users">Users</a>
                       </li>
                        <%}%>
                        
                        <%} else{%>
                            <div class="navbar-nav mr-auto" id="NotLogged">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#home">Home</a>
                               </li>
                               <li class="nav-item">
                                    <a class="nav-link" href="#howtostart">How to start</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link" href="#contact">Contact</a>
                              </li>
                            </div>
                    
                <%}%>
                </ul>    
                <ul class="navbar-nav ml-auto">
                   
                  <% if(user){%>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-user"></i> 
                            <% SplittedUser =  user.firstname.split(" ")%>
                            <small><%=SplittedUser[0]%></small> 
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="/profile">Profile</a>
                          <a class="dropdown-item" href="/logout">Log Out<i class="fas fa-sign-out-alt ml-2"></i></a>
                        </div>
                      </div>
                  <%} else{%>
                    <li class="nav-item ">
                        <a class="nav-link" href="/login">Log in</a>
                   </li>
                   <li class="nav-item ">
                    <a class="nav-link" href="/signup">Sign up</a>
               </li>
                  <% }%>
                    
                </ul>
            </div>  
        </div>
</nav>
<script src="/js/navbarHandler.js"></script>



