<%- include('index_partials/header.ejs')-%>
<section id="home" class="mt-5">
    <header id="header" class="mb-5">
        <div class="container mt-5 ">
            <div class="row  ">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 ">
                   <div class="header-content-left">
                      <img  src="https://static.wixstatic.com/media/2cd43b_f534da01d6f94537904b619feae2d984~mv2.png/v1/fill/w_320,h_320,q_90/2cd43b_f534da01d6f94537904b619feae2d984~mv2.png" style="width: 100%;" alt=""> 
                   </div>
                </div>
                <div id="col-content-right" class="col-12 col-md-6 col-lg-6 col-xl-6 mt-5 mb-5">
                    <div class="header-content-right">
                        <h1 class="display-4 pt-3 d-flex justify-content-center " style="font-weight: bolder;">¡Make your notes!</h1>
                        <p class="mt-5">Node notes allows you save your notes in the web and get full control of your notes, editing the title, content and choosing their importance!
                        </p>
                        <a href="/signup" class="btn btn-outline-dark btn-lg mt-5 btn-block">¡Start to create!</a>
                        <small>If you already have one. <a href="/login">Log in</a></small>
                     </div>
                </div>
            </div>
        </div>
    </header>
</section>

<hr>
<section id="howtostart" class="mt-5">
    <div class="mt-5 bg-dark pt-3 pb-2 d-flex justify-content-center text-white" >
        <h1 style="font-weight: bolder;">¡In three simple steps start saving your notes!</h1>
    </div>
    <div class="container mt-4">
        <div class="row row-cols-sm-12">
            <div class="col">
                <div class="card" style="width: 100%; height: 100%;">
                    <img class="card-img-top"  src="https://i.pinimg.com/originals/31/e6/2e/31e62e6b0ecc175ecfd50f28d1033abb.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text"><h2>¡Sign up!</h2></p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card mb-2" style="width: 100%; height: 100%;">
                    <img class="card-img-top" src="https://cdn.dribbble.com/users/186202/screenshots/4921305/lockunlock.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text"><h2>¡Log in!</h2></p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card mt-2" style="width: 100%; height: 100%;">
                    <img class="card-img-top" src="https://i.pinimg.com/originals/89/e5/02/89e50211327b8a041c6ce6a80864c802.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text text-justify"><h2>¡Start saving!</h2></p>
                    </div>
                  </div>
            </div>     
        </div>
    </div>
</section>
<hr>
<section id="contact" class="mt-5" >
    <div class="container" >
        <div class="row ">
            <div id="contact-column" class="col mx-auto">
                <div class="card mt-2 mb-5 bg-dark text-white">
                    <div class="card-header pb-0 d-flex justify-content-center">
                        <h1>¡Contact us!</h1>               
                    </div>
                    <div class="card-body">
                        <form action="https://formspree.io/f/xleapeqa" method="POST">
                            <input type="text" class="form-control mb-2" name="_replyto" placeholder="Email">
                                <strong class="d-flex justify-content-center">Your Message</strong>
                            <textarea class="form-control" name="message" id="" cols="30" rows="10"></textarea>
                            <button type="submit" class="btn btn-outline-light btn-block mt-2">Send</button>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="backtop" class="d-flex justify-content-center  mt-2 mb-2">
        <a href="#" class="btn btn-outline-dark rounded-circle"><i class="fas fa-arrow-up"></i></a> 
    </div>
</section>

<script src="js/index-animations.js"></script>
<%-include('index_partials/footer.ejs');-%>
