<div class="container-fluid">
    <div id="addnote" class="modal fade modal-fullscreen-sm-down" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content ">
            <div class="modal-header bg-dark">
              <h5 class="modal-title text-white" style="font-weight: bold; font-size: 34px;">Add new note</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-white">&times;</span>
              </button>
              <!--<a href="/users" class="close" >
                <span aria-hidden="true">&times;</span>
            </a>-->
            </div>
            <div class="modal-body">
                <form action="/savenote" method="post">
                    <div class="form-group">
                        <input type="text" name="title" placeholder="Note title" class="form-control">
                    </div>  
                    <div class="form-group">
                        <label for="content">Note content:</label>
                        <textarea class="form-control" name="content" id="content " cols="30" rows="8"></textarea>
                    </div> 
                    <div class="form-group">
                        <label for="date">Created at:</label>
                        <input  id="date"type="date" name="createdat" placeholder="Date"  class="form-control">
                    </div>   
                    <button type="submit" class="btn btn-outline-dark btn-block">Save note</button>  
                    <button type="button" data-dismiss="modal" class="btn btn-outline-dark btn-block">Cancel</button>                      
                </form>                
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  