<div class="container-fluid">
    <div id="addnote" class="modal fade zoom-in modal-fullscreen-sm-down" tabindex="-1">
        <div class="modal-dialog modal-md">
          <div class="modal-content ">
            <div class="modal-header bg-dark">
              <h5 class="modal-title text-white" style="font-weight: bold; font-size: 34px;">Add new note</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-white">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/savenote" method="post">
                    <div class="form-group">
                        <input type="text" name="title" id="notetitleAdd" placeholder="Note title" class="form-control" required>
                        <span id="Tlength" style="font-size:14px;"></span>
                    </div>  
                    <div class="form-group">
                        <label for="content">Note content:</label>
                        <textarea class="form-control" name="content" id="content " cols="30" rows="6" required></textarea>
                    </div>  
                    <label for="">Importance:</label>
                    <select name="importance" class="form-control mb-2" required>               
                        <option value="dark">Normal</option>
                        <option value="warning">Important</option>
                        <option value="danger">Very Important</option>
                      </select> 
                      <div class="d-flex justify-content-between d-inline mt-4">
                        <button type="submit" class="btn btn-primary w-50 mx-1">Save note</button>  
                        <button type="button" data-dismiss="modal" class="btn btn-secondary w-50">Cancel</button>   
                      </div>                                      
                </form>                
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
