body{
    font-family: 'Comfortaa', cursive;
}
html{
    scroll-behavior: smooth;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-brand{
    font-family: 'Comfortaa', cursive;

    font-size: 25px;
}
.navbar-nav .nav-item a{
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
}

#testimonial{
    background-color: whitesmoke; 
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact{
    background-color: whitesmoke;
}
#col-content-right{
    background-color: whitesmoke;
    border-radius: 10px;
}
#howtostart .card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#howtostart .card{
    transform: scale(1.0);
    transition: 0.5s;
}
.nav-link{
    color:black;

}
.nav-link:hover{
    font-weight: bolder;
    color: white;
    
}
.navbar-brand{
    color: black;
}

.navbar-brand:hover{
    font-weight: bolder;
    color: white;
}



#welcome{
    margin-top: 70px;
    font-weight: bold;
    font-size: 55px;
}

#profile-card-header{
    font-weight: bold;
    font-size: 30px;
}
#profile-card-content{
    font-weight: bold;
    font-size: 17px;
}
#profile-card-content li:hover{
    background-color:whitesmoke;
}
#usernotes .col:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#usernotes .col{
    transform: scale(1.0);
    transition: 0.5s;
}
.kc_fab_main_btn {
    position: fixed;
    z-index: 99999;
    background-color: #292b2c;
    width: 60px;
    height: 60px;
    right: 8%;
    bottom: 9%;
    border-radius: 100%;
    background: #292b2c;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-left: 90%;
  }
  .kc_fab_main_btn:hover {
    background-color: white;
    background: white;
    color: #292b2c;
  }
  .kc_fab_main_btn:focus {
    transform: scale(1.1);;
  }

  #SortButtonFloat{
    position: fixed;
    z-index: 99999;
    font-size: 20px;
    right: 65%;
    bottom: 10%;
  }
  .modal.fade {
    z-index: 999999999999 !important;
  }
  .active{
    font-weight: bolder;
    color:white;
  }

  #usernotes .card-body:hover{
      cursor: pointer;
  }

.btn {
      border-radius: 20px;
}

.section-color-1{
    background-color:#BCD4BE
}
.section-color-2{
    background-color: #C7F6E4;
    
}
.section-color-3{
    background-color: #DEDAF2;
}



.bg-dark-1{
    background-color:#4e4d4a;
}

.bg-custom-1{
    background-color: #aabdc4;
}
.bg-custom-2{
    background-color: #A7EBB8;
}
.bg-custom-3{
    background-color: #696662;
}


.bg-whitesmoke{
    background-color: whitesmoke;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}


.circle{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #696662
}

.modal-content{
    border-radius: 0px !important;
}
.modal-header{
    border-radius: 0px !important;
}

