body{
    font-family: 'Comfortaa', cursive;
}
html{
    scroll-behavior: smooth;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-brand{
    font-family: 'Comfortaa', cursive;

    font-size: 25px;
}
.navbar-nav .nav-item a{
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
}

#testimonial{
    background-color: whitesmoke; 
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact{
    background-color: whitesmoke;
}
.header-content-left img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.header-content-left img{
    transform: scale(1.0);
    transition: 0.5s;
}
#col-content-right{
    background-color: whitesmoke;
    border-radius: 10px;
}
#howtostart .card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#howtostart .card{
    transform: scale(1.0);
    transition: 0.5s;
}
.nav-link:hover{
    color: white;
    font-weight: bolder;
    border-bottom:groove;
    border-spacing: 5px;
    border-width: thin;
    border-collapse: separate;
  
}

#welcome{
    margin-top: 70px;
    font-weight: bold;
    font-size: 55px;
}

#profile-card-header{
    font-weight: bold;
    font-size: 30px;
}
#profile-card-content{
    font-weight: bold;
    font-size: 17px;
}
#profile-card-content li:hover{
    background-color:whitesmoke;
}
#usernotes .col:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#usernotes .col{
    transform: scale(1.0);
    transition: 0.5s;
}
.kc_fab_main_btn {
    position: fixed;
    z-index: 99999;
    background-color: #292b2c;
    width: 60px;
    height: 60px;
    right: 10%;
    bottom: 10%;
    border-radius: 100%;
    background: #292b2c;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-left: 90%;
  }
  .kc_fab_main_btn:hover {
    background-color: white;
    background: white;
    color: #292b2c;
  }
  .kc_fab_main_btn:focus {
    transform: scale(1.1);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
